<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzplanet.xposed.ringerandnotificationvolumeunlink"
    android:versionCode="110"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="Separate ringer &amp; notification volume link in ICS/JB" />
    </application>

</manifest>